# Ignore everything
*

# Essential project files
!.env
!artisan
!bootstrap/
bootstrap/cache/*
!composer.json
!composer.lock
!config/
!database/
database/database.sqlite
!public/
!resources/
!routes/
!storage/
storage/*
!app/

# Ignore local environment files
.env.local
.env.*.local

# Frontend
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!vite.config.*
!tsconfig.*
